.Card{
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid #000000;
    margin: 20px 30px 20px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 500px;
}
.Card {
    
    display: flex;
    align-self: center;
}
.Card .Title {
    
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    
}

.Card .Content {
    background-color: #eee;
    padding: 20px;
    text-align: justify;
    flex-grow: 1;
    max-width: 500px;
    color: black;
    border-top: 3px solid black;
    
}

h3{
    margin: 0px;
}

.img_nota{
    display: flex;
    padding: 0 0 20px 0;
}

.img{
    padding-right: 20px;
}

.botao{
    
    margin-top: 10px;
    padding: 8px;
    color: white;
    background-color: #000000;
    border-radius: 15px;
    justify-content: space-around;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 3px #999;
}

.botao:active{
    background-color: #000000;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.botao:hover{
    background-color: #1b1b1b;
}

.div_botao{
    display: flex;
    justify-content: space-around;
}