.logo{
    height: 100px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav{
    background-color: black;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;

}
.title{
    color: white;
    font-weight: bold;
    font-size: 30px;
    @media (max-width: 500px) {
        font-size: 20px;
    }
}

.favoritos{
    text-decoration: none;
    color: white;
    margin: 0 30px 0 30px;
    font-size: 1.2em;
    font-weight: 600;
}

.favoritos:hover{
    color: gray;
}


.img-logo{
    height: 80px;
    cursor: pointer;
    margin-left: 30px;
    
}

.logo2{
    display: none;
    cursor: pointer;
    
}

@media (max-width: 640px) { 
    .img-logo{
        display: none;
        cursor: pointer;
    }

    .logo2{
        display: inline;
        height: 70px;
        margin: 10px;
        cursor: pointer;
    }
}